<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Email list</title>
    <!-- css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
</head>
<body>

    <div id="app">

        <h1>Random Emails List</h1>
        <ul v-if="randomEmailsArray.length == 10">
            <li v-for="randomEmail in randomEmailsArray">
                {{randomEmail}}
            </li>
        </ul>

        <div v-else>
            Loading emails list...
        </div>

    </div>

    <!-- vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- js script -->
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>